# copy to /etc/systemd/system/
[Unit]
Description=pyLogger
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/henry/pyLogger
ExecStart=/usr/bin/python3 log.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
